@media screen and (max-width: 1020px) {
    .container {
        margin: 20px 20px;
    }
}

@media screen and (max-width: 900px) {
    #board {
        width: 60%;
    }

    #board td {
        height: 150px;
    }
}

@media screen and (max-width: 750px) {
    #board {
        width: 70%;
    }

    #board td {
        height: 130px;
    }
}

@media screen and (max-width: 550px) {
    body {
        font-size: 12px;
    }

    .main {
        margin-top: 20px;
    }

    #board {
        width: 70%;
    }

    #board td {
        height: 100px;
    }
}

@media screen and (max-width: 350px) {
    #logo {
        font-size: 1.5em;
    }

    #board {
        width: 90%;
    }

    #board td {
        height: 100px;
    }
}